body {
  margin: 0;
  background-color: #0079bf;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0067a3;
  height: 55px;
  width: 100%;
}

.navbarText {
  color: white;
  font-size: 20px;
  padding-left: 15px;
}

.blockProfile {
  display: flex;
  position: relative;
  cursor: pointer;
  padding-right: 15px;
}

.profilePhoto {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  padding: 2px;
  width: 38px;
  height: 38px;
}

.photo {
  width: 27px;
  height: 34px;
  padding-top: 6px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 20px;
}

.rowImg {
  transform: rotate(180deg);
}

.dropMenu {
  position: absolute;
  height: 60px;
  width: 134px;
  border-radius: 5px;
  background-color: white;
  margin-top: 56px;
  right: 6px;
}

.rhombus {
  height: 11px;
  width: 11px;
  background-color: white;
  transform: rotate(45deg);
  margin-left: 80px;
  margin-top: -6px;
  z-index: 0;
  position: absolute;
}

.dropMenuText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6px;
  height: 100%;
  width: 100%;
}

.dropMenuText div:hover {
  text-decoration: underline;
  color: #0067a3;
}

.dashBoard {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding-top: 20px;
}

.dashBoardCategory {
  display: flex;
  flex-direction: column;
  width: 282px;
  height: max-content;
  background-color: #ebecf0;
  padding: 12px;
  border-radius: 10px;
}

.buttonAddCard {
  display: flex;
  color: #5e6c84;
  border: none;
  background-color: #ebecf0;
  padding: 0;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0067a3;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  font-size: 18px;
  color: white;
}

.tasksCount {
  padding: 0 20px;
}

.containerTask {
  position: relative;
  margin: 30px;
  border-radius: 5px;
  background-color: white;
  min-height: 550px;
}

.buttonNavigate {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 25px;
  color: grey;
  border: none;
  background-color: white;
}

.taskBody {
  padding: 22px 28px;
}

.taskTextH1 {
  font-size: 24px;
}

.taskTextH3 {
  margin-top: 30px;
  padding: 5px;
  margin-left: 1px;
  width: 631px;
  font-size: 18px;
  height: 430px;
  border: none;
  resize: none;
}
